<h1>{{message}}</h1>
<hr>
<input type="button" value="Add" class="btn bnt-default" (click)="addTask()"/>
<div style="overflow: auto">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <td>ИД</td>
        <td>Номер</td>
        <td>Описание</td>
        <td>Статус</td>
        <td>Дата окончания</td>
        <td>Дата создания</td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks; let i=idx">
          <ng-template *ngTemplateOutlet="loadTemplate(task); context: {$implicit: task, idx: i}"></ng-template>
        </tr>
    </tbody>
  </table>
</div>
<div>{{statusMessage}}</div>

<ng-template #readOnlyTemplate let-task>
  <td>{{task.id}}</td>
  <td>{{task.number}}</td>
  <td>{{task.description}}</td>
  <td>{{task.status}}</td>
  <td>{{task.dateEnd}}</td>
  <td>{{task.createTime}}</td> 
  <td>
    <input type="button" value="Edit" class="btn btn-default" (click)="editTask(task)"/>
  </td>
  <td>
    <input type="button" value="Delete" class="btn btn-danger" (click)="deleteTask(task)"/>
  </td>
</ng-template>

<ng-template #editTemplate>
    <td>
      <input type="text" [(ngModel)]="selectedTask.id" readonly disabled />
    </td>
    <td>
      <input type="text" [(ngModel)]="selectedTask.number" />
    </td>
    <td>
      <input type="text" [(ngModel)]="selectedTask.description" />
    </td>
    <td>
      <input type="text" [(ngModel)]="selectedTask.status" />
    </td>
    <td>
      <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="selectedTask.dateEnd">
      <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
      <md-datepicker #picker></md-datepicker>
    </td>
    <td>
      <input type="datetime" [(ngModel)]="selectedTask.createTime" />
    </td>
    <td>
      <input type="button" value="Save" (click)="saveTask()" class="btn btn-success" />
    </td>
    <td>
      <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </td>
  </ng-template>