<h1>{{message}}</h1>
<hr>
<input type="button" value="Add" class="btn bnt-default" (click)="addTask()"/>
<div style="overflow: auto">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <td>Id</td>
        <td>No</td>
        <td>Name</td>
        <td>Salary</td>
        <td>DeptName</td>
        <td>Designation</td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks; let i=idx">
        <!--     <td>{{task.Id}}</td>
            <td>{{task.No}}</td>
            <td>{{task.Name}}</td>
            <td>{{task.Salary}}</td>
            <td>{{task.DeptName}}</td>
            <td>{{task.Designation}}</td>
            <td>
              <input type="button" value="Edit" class="btn btn-default" (click)="editTask(task)"/>
            </td>
            <td>
              <input type="button" value="Delete" class="btn btn-danger" (click)="deleteTask(task)"/>
            </td> -->
          <ng-template *ngTemplateOutlet="loadTemplate(task); context: {$implicit: task, idx: i}"></ng-template>
          <!-- [ngOutletContext]="{ $implicit: task, idx: i }" -->
        </tr>
    </tbody>
  </table>
</div>
<div>{{statusMessage}}</div>

<ng-template #readOnlyTemplate let-task>
  <td>{{task.Id}}</td>
  <td>{{task.No}}</td>
  <td>{{task.Name}}</td>
  <td>{{task.Salary}}</td>
  <td>{{task.DeptName}}</td>
  <td>{{task.Designation}}</td> 
  <!-- <td>task.Id}}</td>
  <td>task.No}}</td>
  <td>task.Name}}</td>
  <td>task.Salary}}</td>
  <td>task.DeptName}}</td>
  <td>task.Designation}}</td> -->
  <td>
    <input type="button" value="Edit" class="btn btn-default" (click)="editTask(task)"/>
  </td>
  <td>
    <input type="button" value="Delete" class="btn btn-danger" (click)="deleteTask(task)"/>
  </td>
</ng-template>

<ng-template #editTemplate>
    <td>
      <input type="text" [(ngModel)]="selectedTask.Id" readonly disabled />
    </td>
    <td>
      <input type="text" [(ngModel)]="selectedTask.No" />
    </td>
    <td>
      <input type="text" [(ngModel)]="selectedTask.Name" />
    </td>
    <td>
      <input type="text" [(ngModel)]="selectedTask.Salary" />
    </td>
    <td>
      <input type="text" [(ngModel)]="selectedTask.DeptName" />
    </td>
    <td>
      <input type="text" [(ngModel)]="selectedTask.Designation" />
    </td>
    <td>
      <input type="button" value="Save" (click)="saveTask()" class="btn btn-success" />
    </td>
    <td>
      <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </td>
  </ng-template>